.child{
    width: 500px;
    height: 500px;
    border: medium solid greenyellow;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}